body {
    margin: 0;

}

main {
    border: solid black 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addBookContainer {
    border: solid green 2px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#library {
    border: solid 2px red;
    width: 100%;
    height: 50vh;
}